@using Sochs.App.Components

@inherits LayoutComponentBase
@page "/"

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			Weather Summary Image
			<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
		</div>
		<div class="col-md-4">
			<TimeOfDay/>
		</div>
		<div class="col-md-4">
			Clothes Summary Image
			<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			Alice Avatar
			<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
		</div>
		<div class="col-md-6">
			Clara Avatar
			<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
		</div>
	</div>
</div>

@code{

}
