@using Sochs.App.Components

@inherits LayoutComponentBase
@page "/"

<div class="container-fluid" style="background-color: pink;">

  <div class="row my-4" style="background-color: green">
    <Time />
  </div>

  <div class="row my-4" style="background-color: green">
    <Date />
  </div>

  <div class="row my-4" style="background-color: green">
    <DayOfWeek />
  </div>

  <div class="row my-4" style="background-color: green">
    <Weather />
  </div>

  <div class="row my-4" style="background-color: green">
    <Clothes />
  </div>

  <div class="row my-4" style="background-color: green">
    <Lunch />
  </div>

  <div class="row my-4" style="background-color: green">
    <Alice />
    <Clara />
  </div>

</div>

