@using Sochs.App.Components

@inherits LayoutComponentBase
@page "/"

<div class="container-fluid">

  <div class="row my-2">
    <Time />
  </div>

  <div class="row my-2">
    <Date />
  </div>

  <div class="row my-2">
    <DayOfWeek />
  </div>

  <div class="row my-2">
    <Weather />
  </div>

  <div class="row my-2">
    <Clothes />
  </div>

  <div class="row my-2">
    <Lunch />
  </div>

  <div class="row my-2">
    <Alice />
    <Clara />
  </div>

</div>

