@using Sochs.App.Components;

@inherits LayoutComponentBase
@page "/"

<div class="container">
  <DateEvent />

  <div class="row">
    <Time />
  </div>

  <div class="row">
    <Weather />
  </div>

  <div class="row">
    <TaskManager Child=Child.Alice />
    <TaskManager Child=Child.Clara />
  </div>

  <div class="row">
    <Classes Child=Child.Alice />
    <Classes Child=Child.Clara />
  </div>

  <div class="row">
    <Lunch />
  </div>

</div>
