@using Sochs.App.Components

@inherits LayoutComponentBase
@page "/"

<div class="container-fluid" style="background-color: pink;">

  <div class="row justify-content-center" style="background-color: green">
    <Time />
  </div>

  <div class="row" style="background-color: green">
    <Date />
  </div>

  <div class="row" style="background-color: green">
    <DayOfWeek />
  </div>

  <div class="row" style="background-color: green">
    <Weather />
  </div>

  <div class="row" style="background-color: green">
    <Clothes />
  </div>

  <div class="row" style="background-color: green">
    <span>Lunch</span>
  </div>

  <div class="row" style="background-color: green">
    <div class="col-lg-6">
      Alice
    </div>
    <div class="col-lg-6">
      Clara
    </div>
  </div>

</div>

