@using Sochs.Library.Enums;
@using Sochs.Library.Events;
@using Sochs.Library.Interfaces;
@using Sochs.Library;
@using System.Runtime;

<div class="col-lg-6 mt-5 align-self-end">
  <div class="card shadow-lg">

    <!--
    <div class="card-header">
      Alice
    </div>
    -->

    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col text-center">

            <button type="button" class="btn btn-primary-outline" @onclick="() => TaskDialog?.Open()">
              <img src="img/Alice_avatar_cartoon.png" />
            </button>
            
            <ModalDialog @ref="@TaskDialog" Title="Alice's Tasks">
              <DailyTasks Child=Child.Alice />
            </ModalDialog>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

@code {

  private ModalDialog? TaskDialog { get; set; }

}
