@using Sochs.Library.Events;
@using Sochs.Library.Interfaces;
@using Sochs.Library;
@using System.Runtime;


<div class="col-lg-6 text-center">
  <p class="display text-center" style="font-size: 5rem;">Alice</p>
  <img src="img/Alice_avatar.png" />
</div>

@code {

  protected override void OnInitialized()
  {
    base.OnInitialized();
  }
}
