@using Sochs.Library.Events;
@using Sochs.Library.Interfaces;
@using Sochs.Library;
@using System.Runtime;

<div class="col-lg-6 text-center" style="background-color: blue;">
  <img src="~/img/Alice_avatar.png" />
</div>

@code {

  protected override void OnInitialized()
  {
    base.OnInitialized();
  }
}
