@using Sochs.Library.Events;
@using Sochs.Library.Interfaces;
@using Sochs.Library;
@using System.Runtime;
@inject ITimeService _timeService;
@implements IDisposable;

<div class="col-lg-12 text-center">

  <div class="row">
    <div class="col-9">
      <h1 class="display" style="font-size: 10rem;">@dayOfWeekAsString</h1>
    </div>
    <div class="col-3">
      <img src="@dayOfWeekImagePath" />
    </div>
  </div>

</div>

@code {
  private string? dayOfWeekAsString;
  private string? dayOfWeekImagePath;

  protected override void OnInitialized()
  {
    _timeService.OnTimeUpdated += Handle;

    base.OnInitialized();
  }

  public void Handle(object? sender, TimeUpdatedEventArgs args)
  {
    if (args != null)
    {
      dayOfWeekAsString  = args.DateTime.DayOfWeek.ToString();
      dayOfWeekImagePath = args.DayOfWeekImagePath;
      
      StateHasChanged();
    }
  }

  public void Dispose()
  {
    _timeService.OnTimeUpdated -= Handle;
  }
}
