@using Sochs.Library.Events;
@using Sochs.Library.Interfaces;
@using Sochs.Library;
@using System.Runtime;
@inject ILunchService _lunchService;
@implements IDisposable;

<span class="display-2 text-center"><u>Lunch Menu</u></span>

<div class="col-lg-12 text-center">
  <p>Insert lunch data here</p>
</div>

@code {
  protected override void OnInitialized()
  {
    _lunchService.OnLunchUpdated += Handle;

    base.OnInitialized();
  }

  public void Handle(object? sender, LunchUpdatedEventArgs args)
  {
    if (args != null)
    {
      // TODO: Deal with new lunch menus being available
      
      StateHasChanged();
    }
  }

  public void Dispose()
  {
    _lunchService.OnLunchUpdated -= Handle;
  }
}
