@using Sochs.Library.Events;
@using Sochs.Library.Interfaces;
@using Sochs.Library;
@using System.Runtime;
@inject ITimeService _timeService;
@implements IDisposable;

<div class="col-lg-12 text-center">

  <div class="container">
    <div class="row">
      <div class="col-9">
        <h1 class="display" style="font-size: 10rem;">@timeAsString</h1>
      </div>
      <div class="col-3">
        <img src="@timeOfDayImagePath" />
      </div>
    </div>
  </div>

</div>

@code {
  private string? timeAsString;
  private string? timeOfDayImagePath;


  protected override void OnInitialized()
  {
    _timeService.OnTimeUpdated += Handle;

    base.OnInitialized();
  }

  public void Handle(object? sender, TimeUpdatedEventArgs args)
  {
    if (args != null)
    {
      timeAsString               = args.DateTime.ToShortTimeString();
      timeOfDayImagePath = args.TimeOfDayImagePath;

      StateHasChanged();
    }
  }

  public void Dispose()
  {
    _timeService.OnTimeUpdated -= Handle;
  }
}
