@using Sochs.Library.Enums;
@using Sochs.Library.Events;
@using Sochs.Library.Interfaces;
@using Sochs.Library;
@using System.Runtime;
@using Sochs.Library.Models;
@inject IConfiguration _config;
@inject ILogger<Weather> _log;
@inject IWeatherService _weatherService;
@implements IDisposable;

<div class="col-sm-2 text-center" style="background-color: blue;">
  <img src="@conditionImagePath" class="h-100" />
</div>
<div class="col-sm-6 text-center" style="background-color: blue;">
  <h1 class="display-1" style="font-size: 6rem;">@condition</h1>
</div>
<div class="col-sm-2 text-center" style="background-color: blue;">
  <img src="@tempSummaryImagePath" class="h-100" />
</div>
<div class="col-sm-2 text-center" style="background-color: blue;">
  <h1 class="display-1" style="font-size: 6rem;">@temperature°F</h1>
</div>

@code {
  private string? temperature;
  private string? condition;
  private string? conditionImagePath;
  private string? tempSummaryImagePath;

  private decimal? _lowThreshold;
  private decimal? _midThreshold;
  private decimal? _hightThreshold;

  private string? _hotPath;
  private string? _warmPath;
  private string? _coolPath;
  private string? _coldPath;

  protected override void OnInitialized()
  {
    _coldPath = _config.GetString("Weather:TemperatureFeeling:Cold");
    _coolPath = _config.GetString("Weather:TemperatureFeeling:Cool");
    _warmPath = _config.GetString("Weather:TemperatureFeeling:Warm");
    _hotPath = _config.GetString("Weather:TemperatureFeeling:Hot");

    _lowThreshold   = _config.GetDecimal("Weather:Thresholds:Low");
    _midThreshold   = _config.GetDecimal("Weather:Thresholds:Mid");
    _hightThreshold = _config.GetDecimal("Weather:Thresholds:High");

    _weatherService.OnWeatherUpdated += Handle;

    base.OnInitialized();
  }

  public void Handle(object? sender, WeatherUpdatedEventArgs args)
  {
    if (args != null && args.WeatherInfo != null)
    {
      temperature        = args.WeatherInfo.Current?.TempF.ToString("N0");
      condition          = args.WeatherInfo.Current?.Condition?.Text;
      conditionImagePath = args.WeatherInfo.Current?.Condition?.Icon;

      var temperatureFeeling = GetTemperatureFeeling(args.WeatherInfo);

      switch(temperatureFeeling)
      {
        case TemperatureFeeling.Cold:
          tempSummaryImagePath = _coldPath;
          break;
        case TemperatureFeeling.Cool:
          tempSummaryImagePath = _coolPath;
          break;
        case TemperatureFeeling.Warm:
          tempSummaryImagePath = _warmPath;
          break;
        case TemperatureFeeling.Hot:
          tempSummaryImagePath = _hotPath;
          break;
        default:
          throw new InvalidOperationException($"Cannot determine image path based on temperature feeling {temperatureFeeling}.");
      }

      StateHasChanged();
    }
  }

  public TemperatureFeeling GetTemperatureFeeling(WeatherApiResponse weatherInfo)
  {
    var tempF = weatherInfo.Current?.TempF;

    _log.LogTrace(tempF.ToString());

    if (tempF < _lowThreshold)
    {
      return TemperatureFeeling.Cold;
    }
    else if (tempF >= _lowThreshold && tempF <= _midThreshold)
    {
      return TemperatureFeeling.Cool;
    }
    else if (tempF >= _midThreshold && tempF <= _hightThreshold)
    {
      return TemperatureFeeling.Hot;
    }
    else if (tempF > _hightThreshold)
    {
      return TemperatureFeeling.Warm;
    }
    else
    {
      throw new InvalidOperationException("Cannot determine temperature feeling from weather info.");
    }
  }

  public void Dispose()
  {
    _weatherService.OnWeatherUpdated -= Handle;
  }
}
